#container {
display: flexbox;
display:inline-flex;
width: 90%;
background-color: black;
padding: 10px;
}

.comun{
    display: inline-block;
    width: 45%;
    background-color: whitesmoke ;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 12px;

    color: #dd6fab
}
#derecha{
    font-size:40px;
}