#container {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}
#ej1{
    width:auto ;
    height:auto;
    border:3px solid black;
    margin: 1%;
}
#ej2{
    width:auto ;
    height:auto;
    border:3px solid black;
    margin: 1%;
}
#ej3{
    width:auto ;
    height:auto;
    border:3px solid black;
    margin: 1%;
}
#ej4{
    width:auto ;
    height:auto;
    border:3px solid black;
    margin: 1%;
}

.col-auto{
    padding: 3px;
    margin:10px;
    margin: 1%;

}

